.flow-control {
		width: 200px;
		height: 60px;
		margin: 600px 20px 20px 400px;
		border-style: none;
	}
	.center-division {
		width: 960px;
		height: 680px;
		margin: 20px;
		border-color: black;
		border-radius: 10px;
                border-style: solid;
		border-width: 2px;
	}
	.main-para {
		width: 420px;
		height: 540px;
		margin: 20px;
		border-style: none;
	}

	.main-graphic {
		width: 420px;
		height: 540px;
		margin: -540px 20px 20px 480px;
		border-style: none;
	}

	.button {
  		background-color: gray;
		border: none;
		border-radius: 5px;
  		color: white;
		padding: 10px 10px;
  		text-align: center;
  		text-decoration: none;
  		display: inline-block;
  		font-size: 16px;
  		margin: 10px 5px 5px 10px;
  		cursor: pointer;
	}
	.cur-button {
  		background-color: #D3D3D3;
		border: none;
		border-radius: 5px;
  		color: white;
		padding: 10px 10px;
  		text-align: center;
  		text-decoration: none;
  		display: inline-block;
  		font-size: 16px;
  		margin: 10px 5px 5px 10px;
		cursor: default;
	}

	.delta-line {
		stroke: steelblue;
      		stroke-width: 2px;
      		stroke-dasharray: 3;
	}

	.next-button {
  		background-color: gray;
		border: none;
		border-radius: 5px;
  		color: white;
		padding: 10px 10px;
  		text-align: center;
  		text-decoration: none;
  		display: inline-block;
  		font-size: 16px;
  		margin-bottom: 10px;
		margin-right: 20px;
		margin-left: 880px;
  		cursor: pointer;
	}

	#tooltip {
		opacity: 0;
		position: absolute;
		text-align: center;
		width: 120px;
		height 40px;
		background: white;
		border: 2px;
		border-color: black;
		border-style: solid;
		border-radius: 5px;
	}
